name: Build and deploy Node.js app to Azure Web App - image-editor-backend-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install, build, and test backend
        working-directory: backend
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: backend

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_900882955FEF45D9A9E97085881720A7 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_37B276A0F9DB4629B84D3AC7194B9CE6 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6C1607120E6242BD9006EE78C41CE52E }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'image-editor-backend-api'
          slot-name: 'Production'
          package: .

          
